# Ignore everything
*

# Except
!.gitignore
!.config/
!.config/nvim
!.config/nvim/*
!.config/nvim/lua/*
!.config/nvim/lua/config/*
!.config/nvim/lua/config/luasnip/*
!.config/nvim/lua/lsp/*
!.config/kitty
!.config/kitty/*
!.zshrc
!.latexmkrc
